<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog.log"
      internalLogLevel="Warn">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Extensions"/>
  </extensions>
  <variable name="verboseMessage" value="${message} (${longdate})${onException:${newline}${newline}&lt;&lt; Exception &gt;&gt;${newline}${exception:format=toString}}" />
  <variable name="requestDetail" value="&lt;&lt; Web Request &gt;&gt;${newline}${aspnet-request-detail}" />
  <variable name="hipChatMensions" value="@nabehiro" />
  <variable name="mailSubject" value="${whenEmpty:whenEmpty=${truncate:length=50:inner=${message}}:inner=${onException:${exception:format=shortType} occured.}}" />
  <targets>
    <target xsi:type="File"
            name="f"
            fileName="${basedir}/logs/${shortdate}.log"
            encoding="UTF-8"
            layout="${longdate} [${uppercase:${level}}] [p:${processid}] [t:${threadid}] ${verboseMessage}${newline}${newline}${requestDetail}" />

    <target xsi:type="HipChat"
            name="h"
            layout="${hipChatMensions}${newline}${truncate:length=400:inner=${verboseMessage}}${newline}${newline}${truncate:length=400:inner=${requestDetail}}"
            authToken="[ enter auth token ]"
            roomId="[ enter room id ]"
            from="hoge"
            color="red" />

    <target xsi:type="Mail"
            name="m"
            subject="[WebSample]${mailSubject}"
            layout="${verboseMessage}${newline}${newline}${requestDetail}"
            to="[ enter to email ]"
            from="test@test.jp"
            smtpUserName="[ enter smtp user name ]"
            enableSsl="true"
            smtpPassword="[ enter smtp password ]"
            smtpAuthentication="Basic"
            smtpServer="[ enter smtp server ]"
            smtpPort="587"
            useSystemNetMailSettings="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="f" />
    <logger name="*" minlevel="Error" writeTo="h">
      <filters>
        <!-- not notify 'HttpAntiForgeryException' exception. -->
        <when condition="equals('${exception:format=shortType}', 'HttpAntiForgeryException')" action="ignoreFinal" />
      </filters>
    </logger>
    <logger name="*" minlevel="Error" writeTo="m" />
  </rules>
</nlog>