
@{
    ViewBag.Title = "Index";
}

<h2>OK</h2>

<form action="/" method="post">
  <input type="text" name="username" value="hoge" />
  <input type="password" name="password" value="hoge-pass" />
  <input type="submit" value="send" />
</form>

